@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.header__menu {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-dark);
  position: fixed;
}

.menu__link {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu__link:hover {
  color: var(--accent);
  text-decoration: underline;
}

.header__img {
  background: linear-gradient(rgba(2, 37, 63, 0.3), rgba(2, 37, 63, 0.4)),
    url(../assets/fondo-inicio.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.header__img--logo {
  height: 30vh;
}

.header__titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4rem;
  color: #eee9e9;
  margin-top: 15px;
}

.header__subtitulo {
  color: #eee9e9;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: -45px;
}

.footer {
  background-color: var(--primary-dark);
  height: 10vh;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header__img {
    background-attachment: scroll; /* Evita el zoom raro en móviles */
    background-position: center top; /* Ajusta el foco */
  }

  .footer {
    height: 7vh;
    font-size: 1rem;
  }
}
